$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// $background-color: #7O8O9O;
$font-color: #000;
$white: #fff;

h1 {
  color: $white;
  font-family: 'Fredericka the Great', cursive;
  font-size: 48px;
  text-align: left;
}

.auth-responses {
  color: $white;
}

h3 {
  color: $white;
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
}

body {
  background-image: url('http://i.imgur.com/wXdiODD.jpg');
  background-size: cover;
  color: $font-color;
  min-width: 800px;
}

.box {
  border: .25px solid $white;
}

.game-statistics {
  align-items: center;
}

// .gameboard {
//   align-self: center;
// }

.col-xs-2 {
  height: 200px;
  // width: 250px;
  // align-items: center;
  // align-content: center;
}

.slot {
  color: $white;
  font-family: 'Fredericka the Great', cursive;
  font-size: 48px;
  padding: 5%;
  text-align: center;
}
